<section id="tutorial" class="tutorial bg-primary tutorial--<%= type %>">
    <div class="container">
        <div id="create_user" class="row">
          <div class="col-lg-12">
            <div class="videoWrapper">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/MpOVwtZJojg?showinfo=0&autohide=1"
                frameborder="0"
                allowfullscreen>
            </iframe>
            </div>
          </div>
        </div>

        <div id="book_event" class="row">
          <div class="col-lg-12">
            <div class="videoWrapper">
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/CvoRxq_3h-E?showinfo=0&autohide=1"
                frameborder="0"
                allowfullscreen>
            </iframe>
            </div>
          </div>
        </div>

        <div id="create_service" class="row">
          <div class="col-lg-12">
            <div class="videoWrapper">
              <iframe
                width="500"
                height="315"
                src="https://www.youtube.com/embed/1H7hBLdYfN0?showinfo=0&autohide=1"
                frameborder="0"
                allowfullscreen>
            </iframe>
            </div>
          </div>
        </div>
</section>
<script>
  $.screentime({
    fields: [
      {
        selector: '#create_user',
        name: 'Create User Video',
        percentOnScreen: '100%'
      },
      {
        selector: '#book_event',
        name: 'Book Event Video',
        percentOnScreen: '100%'
      },
      {
        selector: '#create_service',
        name: 'Create Service Video',
        percentOnScreen: '100%'
      },
    ],
    reportInterval: 30,
    callback: function(data) {
      for(var element in data) {
        ga('send', 'event', 'Video Tutorial', 'Watching ' + element, 'Spent 30s');
      }
    }
  });
</script>
